body {
  background-color: #5081aa; }

#top-container {
  text-align: center; }

.search-bar-spacing {
  margin-bottom: 12px; }

.contactList {
  font-weight: bold; }

.contactList h1 {
  text-align: center;
  font-weight: bold; }
